# Billy Barrett
Billy Steen Barrett <billysb@stud.ntnu.no> Billy Steen Barrett <billysb@stud.ntnu.no>
Billy Steen Barrett <billysb@stud.ntnu.no> BillySBarrett <billysb@stud.ntnu.no>
# Jakob Opland
Jakob Opland <jakobop@stud.ntnu.no>
# Markus Johansen
Markus Aleksander Råkil Johansen <markusrj@stud.ntnu.no>
# Ulrik Isdahl
Ulrik Ytteborg Isdahl <ulrikyi@stud.ntnu.no> Ulrik Ytteborg Isdahl <ulrikyi@stud.ntnu.no>
Ulrik Ytteborg Isdahl <ulrikyi@stud.ntnu.no> Ulisman <uisdahl@gmail.com>
# Hallvard
Hallvard Trætteberg <hal@ntnu.no>
Hallvard Traetteberg <hal@ntnu.no>
# George
George Adrian Stoica <stoica@ntnu.no>